*, html {
    margin: 0px;
    padding: 0px;
}

.global-userHeader {
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.global-sider {

}

.global-receiveContent {

}

.global-locationContainer {

}

.global-sendContent {

}

.global-saveButton {

}

.global-reserveButton {

}

.global-icone {
    width: 30px;
    height: 30px;
}

.global-buttonIcone {
    background-color: transparent;
    border: none;
}

.global-inputHeader {
    padding: 15px 30px;
    border: none;
    box-shadow: var(--box-shadow);
}