*, html {
    margin: 0px;
    padding: 0px;
}

.global-userHeader {
    display: flex;
    flex-direction: row;
    background-color: #000;
}

.global-sider {

}

.global-receiveContent {

}

.global-locationContainer {

}

.global-sendContent {

}

.global-saveButton {

}

.global-reserveButton {

}

