@import url('./var.css');
@import url('./global.css');
@import url('../pages/company/admin/stylesAdmin/styleAdminMenu.css');
@import url('../pages/company/admin/stylesAdmin/styleAdminUser.css');
@import url('../pages/company/admin/stylesAdmin/styleCreateApart.css');
@import url('../pages/company/admin/stylesAdmin/styleUpdateApart.css');
@import url('../pages/company/admin/stylesAdmin/styleUserSearch.css');
@import url('../pages/company/admin/stylesAdmin/styleSelectUser.css');
@import url('../pages/company/employee/styleEmployee/styleChecklist.css');
@import url('../pages/company/employee/styleEmployee/styleDashboard.css');
@import url('../pages/company/employee/styleEmployee/styleEmployeemessage.css');
@import url('../pages/company/employee/styleEmployee/stylePlanning.css');
@import url('../pages/company/employee/styleEmployee/styleReport.css');
@import url('../pages/location/styleLocation/styleLocationDetails.css');
@import url('../pages/location/styleLocation/styleLocations.css');
@import url('../pages/location/styleLocation/stylePayment.css');
@import url('../pages/userspace/styleUserSpace/styleLogin.css');
@import url('../pages/userspace/styleUserSpace/styleMessage.css');
@import url('../pages/userspace/styleUserSpace/styleProfile.css');

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    opacity: 0;
    animation: fade-in 3s ease-in-out forwards;
  }

@keyframes fade-in {
  from {
    opacity: 0; /* Définit l'opacité initiale de l'élément à 0 */
  }
  to {
    opacity: 1; /* Définit l'opacité finale de l'élément à 1 */
  }
}
  
.welcomePageTitle {
    display: grid;
    justify-content: center;
    font-size: 190px;
    padding-top: 200px;
}

.welcomePage {
    background-color: black;
}

.welcomePageContainer {
    cursor: default;
    color: white;
    user-select: none;
    opacity: 0;
    animation: fade-in 3s ease-in-out forwards;
}

.welcomePageSubTitle {
    display: grid;
    justify-content: center;
    font-size: 50px;
}

.welcomePageLink {
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-decoration: none;
    border-radius: 15px;
    padding: 15px 0px;
    color: var(--primary-color);
    cursor: pointer;
}