.titleReport{
    padding-left: 25px;
    margin-bottom: 10px;
    padding-top: 40px;
    box-shadow: var(--box-shadow);
    height: 110px;
    width: auto;
    border-top-left-radius: 55px;
}

.messageReport{
    text-align: end ;
    margin-left: 60%;
}

.greenMessage{
    background-color: #009E2F;
    text-align: start;
    margin-top: 25px;
    width: 60vh;
    height: 10vh;
    padding: 15px;
    right: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-weight: bold;

}

.redMessage{
    background-color: #E52937;
    text-align: start;
    margin-top: 25px;
    width: 60vh;
    height: 10vh;
    padding: 15px;
    right: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-weight: bold;
}

.sendMessageReport{
    margin-left: 60px;
    flex-wrap: nowrap;
}

.inputMessageReport{
     border: none;
    color: var(--text-color);
    margin-bottom: 15px;
    font-size: 20px;
    width: 93%; 
}

.buttonsReport{
    display: flex;
}

.redButtonReport{
    height: 45px;
    width: 45px;
    border-radius: 10px;
    background-color: #E52937;
    border: none;
}

.greenButtonReport{
    height: 45px;
    width: 45px;
    border-radius: 10px;
    background-color: #009E2F;
    border: none;
    margin-left: 35px;
}

.buttonSendReport{
    border: none;
    background-color: black;
    height: 45px;
    width: 128px;
    border-radius: 10px;
    margin-left: 900px;
    color: #fff;
}